/* BODY */
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(243, 144, 160);
    
}

/* TITLE */
#title{
    background-color: #ff4c68;
}
h1{
    color: whitesmoke;
    font-size: 3rem;
    line-height: 1.5;
    margin-left: 5%;
}
#play-btn{
    margin-left: 5%;
}
.dload{
    margin: 5% 3% 5% 0;
}
#title-img{
    width: 50%;
    transform: rotate(25deg);
    margin-left: 15%;
}
@media (max-width : 1028px){
    #title-img{
        transform: rotate(0);
        text-align: center;
        font-size: larger;
    }
}
/* FEATURES */
#features{
    padding: 7% 15%;
}
.feature-box{
    text-align: center;
    font-weight: bolder;
}
.para{
    color: rgb(92, 89, 89);
}
.feat-icon{
    color: whitesmoke;
}
.feat-icon:hover{
    color: rgb(245, 206, 212);
}

/* TESTIMONIALS */
#testimonials{
    background-color: #ff4c68;
    text-align: center;
    color: whitesmoke;
}
.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 4%;
}
.test-pad{
    padding: 7% 15%;
}

/* PRESS */
#press{
    text-align: center;
    padding: 7% 15%;
}
.press-logo{
    padding: 5%;
    margin-bottom: 3%;
}

/* PRICING */
#pricing{
    text-align: center;
    padding: 7% 15%;
    background-color: #ff4c68;
}

/* CALL TO ACTION */
#cta{
    text-align: center;
    background-color: #ff4c68;
    color: whitesmoke;
}

/* FOOTER */
#footer{
    text-align: center;
    padding: 1%;
    size: 0.1%;
    background-color: rgb(150, 146, 146);
    color: whitesmoke;
}
